*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: white;
}

@media(min-width: 768px)
 
{
    .about-me, .skills, .hobbies {
    min-width: 80%;
    margin: 10px;
 }
    
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.about-me,
.skills,
.hobbies{
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid white;
    border-radius: 15px;
    color:white;
}
.about-me h1,
.about-me h2{
    margin-bottom: 10px;
}



.skills ol,
.hobbies ul{
    margin-top: 15px;
    padding-left: 20px;
}

